.marker-text {
  display: none;
  font-family: system-ui;
  fill: #fff;
  font-size: 0.5rem;
  z-index: 100;
}

.marker:hover .marker-text {
  display: block;
}

.loading-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  animation: spin 1s linear infinite; /* Adjust the animation duration as needed */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
